# --- General ---
.DS_Store
.env
*.log

# --- NestJS (Carpeta 'back') ---
backend/node_modules/
backend/dist/
backend/npm-debug.log
backend/.env
backend/.env.production
backend/.env.template

# --- Flutter (Carpeta 'front') ---
dueglow_app/.dart_tool/
dueglow_app/.flutter-plugins
dueglow_app/.flutter-plugins-dependencies
dueglow_app/.pub-cache
dueglow_app/.packages
dueglow_app/build/

# Archivos de configuración de IDEs
.vscode/
.idea/
*.iml