### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Node modules form api
**/node_modules/

# Archivos compilados (esto es lo que se genera al hacer 'npm run build')
**/dist/

# Credenciales (esto evita que subas tus contraseñas)
**/.env

# Otros
**/.DS_Store